body {
    background-color:rgba(25,41,54,1);
}

.main {
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:20px;
}

#pagetitle {
    background-image:url(../files/bg1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    
    margin-top:10vh;
    height:80vh;
    margin-bottom:10vh;
    text-align: left;
    
    border-bottom: 2px solid white;
    border-top:2px solid white;
}

#pagetitle #nametitle {
    color:white;
    font-size:5rem;
    #margin-right:5%;
    margin-top:30vh;
    font-family:'Cabin';
    
    display:none;
}

#shortcuts {
    text-align:left;
}

#pagetitle #subtitle {
    color:grey;
    font-size:2rem;
    #margin-right: 5%;
    font-family:'Open Sans';
    
    display:none;
}

#contents {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content:flex-start;
    justify-content: space-around;
    
    padding-top:0;
    opacity:0;
    margin-left:-500px;
}

#activities {    
    padding-top:10vh;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    
    margin-left:-1000px;
}

.box {
    padding-top:20px;

    color:grey;
    
    display:flex;
    flex-direction:column;
    align-items:center;
}

#contents .box {
    justify-content: space-between;
}


#contents .profilebox {
    
    color:white;
    width: 35vw;
    height:auto;
    
    border-bottom: 2px solid white;
}

#profileimage {
    margin-top:20px;    
    width: 30%;
}

#contents .studybox {
    color:white;
    width: 35vw;
    height:auto;
    border-bottom: 2px solid white;

}

#favicon {
    margin-top:25px;
    margin-bottom:0px;
    font-size:400%;
}

#activities .activitybox { 
    width: 25vw;
    height: 40vh;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    color:white;
    
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: flex-start;
}

li {
    font-size: 100;
}

.box ul {
    margin-top: 10px;
    margin-bottom:20px;
}
.box li {
    font-family:sans-serif;
    margin-top:10px;
    font-size: 100%;

}

.boxtitle {
    font-size: 200%;
    font-family:'Girassol';
}

.activitybox .boxtitle {
    color:yellowgreen;
}


bar {
    position:fixed;
    z-index: 5;
    right:0px;
    padding-right:5px;
    top:0;
    width:auto;
    height: 100%;
    
    display:flex;
    flex-direction:row;
    align-items : center;
}

bar .shortcuts {
    width:auto;
    height:auto;
    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    align-items:center;
}

bar #links{
    display:none;
    margin-bottom: 10px;
    margin-top: 10px;
}

bar #sidemenu {
    opacity:0;
    margin-right:3px;
}

#pos {
    color:rgb(200,1,80);
}

footer {
    display:none;
    
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}

footer span {
    color: white;
}

#lines-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -20;
}


@media (max-width: 1024px) {
    
    .main {
        width:100%;
        margin-left:0;
    }
    
    #contents {
        margin-left:0;
        flex-wrap:wrap;
    }
    
    #contents .profilebox {
        width: 80vw;
        height: auto;
        margin-bottom:20px;
    }
    
    #contents .studybox {
        width: 80vw;
        height: auto;
    }
    
    #activities {
        padding-top:0px;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        display:none;
    }
    
    #pagetitle {
        background-position: center;
    }
    
    #pagetitle #nametitle {
        font-size: 320%;
        margin-left:5%;
    }
    #pagetitle #subtitle {
        color:ivory;
        font-size:130%;
        margin-left:5%;
    }
    
    #activities .activitybox {
        width: 80vw;
        height: auto;
/*        display:none;*/
    }
    
    footer {
        display:flex;
    }
    
    bar {
        position: absolute;
        align-items : flex-start;
        
    }
    
    bar #sidemenu {
        margin-top: 10px;
        margin-bottom: 20px;
        order:-5;
    }
    
    bar #links{
    margin-bottom: 0px;
    }
    
}

/*
임시 가림 코드
*/
#contents, #activities {
    display:none;
}
